@charset "UTF-8";
@font-face { font-family: Futura; src: url("images/futura\ light\ bt.ttf"); } 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  
}

.pcard{
  width: 100%;
  height: 100%;
  position: relative;
    background-size: cover;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-position: center center;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  

}
.hoverpcard:hover .pcard{
  -moz-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);

}
.hoverpcard:hover .pcardtext{
  margin-bottom: 50px;
  
}

.hoverpcard{
  overflow: hidden;
  width: 100%;
  margin-bottom: 50px;
  height: 400px;
}
.learnmore{
  background-color: transparent;
  border: solid white 2px;
  width: 120px;
  height: auto;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  color: white;
  
  z-index: 10;
}
.learnmore:hover{
  transition: .3s ease-in;
  background-color: white;
  color:dodgerblue;

}

.twoacross{
  justify-content: space-between;
  position: relative;
}
.halfbox{
  align-items: flex-start; display: flex; justify-content: space-between;
}
.halfw{
  display: flex;
  position: relative;
  width: 48%;
}
.halfw > .pcardtext > h4{
  font-size: 3rem;
}
.halfw > .pcardtext > h3{
  font-size: 1rem;
}

.pcardtext{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
  transition: 0.3s;
}

.pcardtext h4{
  color: white;
  font-size: 5rem;
  font-weight: 100;
  
}
.pcardtext h3{
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}
#arcadia{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/arcadiagameplay.png);

}
#arts{
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(arts/painting.png);
}
#library{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://s.hdnux.com/photos/45/20/37/9766886/6/1200x0.jpg");
}

#resumerevamper{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://thumbs.dreamstime.com/z/indeed-com-web-site-selective-focus-macro-image-homepage-loaded-screen-browser-179273456.jpg");

}
.newhome{
  background: black;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  height: 100vh; 
  position: relative;
  width: 100%;
  padding-bottom: 00vh;
  transition: background-image 6s;


}

/* html:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 999px;
  top: -999px;
  background-color: tomato;
} */

.newhome img {
  width: 120vh;
  opacity: 100%;
 
  filter: invert(21%) sepia(100%) saturate(200%) hue-rotate(200deg) brightness(300%) contrast(1107%)
}

/* .newhome img:hover{
opacity: 100;
filter: invert(21%) sepia(100%) saturate(200%) hue-rotate(1360deg) brightness(100%) contrast(117%);

} */
h1{
  color: white;
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 10px;
}

.titlebox{
  height: 100%;
  width: 60vw;

  
  display: flex;
  align-items: center;
  justify-content: center;
}
.titlecontainer{
  display: block;
}

ul{
  list-style-type: none;
}
.linklist{
  height: 100%;
  width: 40vw;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}



.linklistitems:hover{
  color: dodgerblue;
  font-size: 7vw;
}

.linklistitems {
  font-size: 6vw;
  margin-left: 2rem;
  font-weight: 100;
  transition: all 0.3s;
  color: white;
}

.artnewhome{
  justify-content: center;
  align-items: center;
  display: flex;
}
.container{
  font-weight: 100;
}
.about{
  background-color: black;
  width: auto;
  height: 100vh;
  font-weight: 100;
}




#about{
  max-width: 30vw;
  font-weight: 100;
}




.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
 }







.body {
  /* overflow-x: hidden; */
  height: 100%
}
a{
  color: inherit;
  text-decoration: inherit;
}
.navbar {
  background: white;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid dodgerblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms ease;
  z-index: 10; 

}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  background: #4F46E5;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms ease;
  z-index: 10;
  
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  /* max-width: 1300px; */
  margin: 0 auto;
  padding: 0px 50px;
  position: sticky;
  top: 0;
}

#endcontact{
  align-items:flex-end; 
  width: 100%;
}
#jig {
  border-radius: 8px;
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 100px;
  margin-right: 00px;
}

#navbar__logo {
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  
}




.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 2rem;
  height: 100%;
  font-weight: 100;
}

.navbar__links:hover {
  color: dodgerblue;
  transition: all 0.3s ease;
}

.main__content {
  width: auto;
}

.main__container {

  align-items: center;
  justify-self: center;
  margin: 0 auto;
  margin-top: 150px;
  height: 90vh;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  padding-left: 100px;
  padding-right: 100px;
}

 h1 {
  font-size: 4rem;
  font-weight: 300;

  color: black
  /* background-color: #ff8177;
  background-image: linear-gradient(to top, dodgerblue 0%, white 190%); */
  /* background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  transition: background-image 1s; */
}

h4 {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  display: flex;
  transition: background-image 1s;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
  /* background-color: #ff8177;
  background-image: linear-gradient(to top, dodgerblue 0%, rgb(94, 99, 255) 100%);
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */
  /* display: flex; */
}


.break {
  width: 100%;
  height: 120px;
  align-items: center;
  justify-self: center;
}

.smallbreak{
  height: 30px;
}

#about {
  padding-top: 2rem;
  font-size: 1.5rem;
  width: 100%;
  text-indent: 0rem;
}

#Home {
  margin-top: 6rem;
  width: 50%;
}

.home__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

}
nav.scroll-up{
  transform: translateY(-100%);
}

nav.scroll-down{
  transform: translateY(0);
}

#selfie {
  object-fit: cover;
  border-radius: 10px;
  width: auto;
  max-height: auto;
  display: flex;

}

.button {
  display: inline-block;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "→";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: dodgerblue;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  background: white;
  color: dodgerblue;
}

.contact__bar{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 400px;
  /* list-style: none;
  justify-self: center; */
}

.contact__items{
  display: flex;

}

.contact__items img{
  opacity: 30%;
  transition: opacity 0.5s;
}

.contact__items img:hover{
opacity: 100;
filter: invert(21%) sepia(100%) saturate(7814%) hue-rotate(200deg) brightness(100%) contrast(117%);

}

#coursework div{
  display: flex;

}


#coursework div p span{
  font-weight: 500;
  text-transform: uppercase;
  text-indent: 5rem;
}

#coursework div p:hover{
  color: dodgerblue;
  font-size: 3.2rem;
}

#coursework div p {
  font-size: 3rem;
  margin-left: 2rem;
  font-weight: 100;
  transition: all 0.3s;
}

.description{
  font-weight: 100;
}

.hidden{
  height: 0;
  transition: all 1s;
}

.hidden.open{
  height: auto;

}
 

.project__list{
  margin-top: 3rem;
  display: flex;
  list-style: none;
}

.card {
  transition: 0.3s;
  border: 2px solid gray;
  border-radius: 15px;

  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 2px solid dodgerblue;

}

.iframe {
  margin: 2rem;
  padding: 2rem;
}


.container {
  padding: 10px 16px;
}

.projectpic{
  max-width:100%;
max-height:100%;
border-radius: 15px 15px 0 0;
}
 .timeline p span{
font-size: 3rem;
 }

 .timeline{
  margin-top: 3rem;
  counter-set: section 22;
 }
.timeline div {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #5100ff 0%, #00ffe5 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section 0;
  position: relative;
  color: #34435e;
}
.timeline div:before {
  content: "◉";
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: #34435e;
  text-align: center;
  line-height: 1.25em;
  color: #fff;
  font-size: 1em;
}
.timeline div:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}
.timeline div:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
}
.timeline div:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}
.timeline div:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
}
.timeline div:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.timeline p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.tableofcontents{
  margin-top: 3rem;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;

}

.tableofcontents li{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 100;
  transition: all 0.3s;
  text-decoration: underline;
}
iframe{
  margin: 2rem;
}
p{
  font-size: 1.5rem;
  font-weight: 100;
  text-indent: 4rem;
}
#artbox{
  max-width: 100%;
}

#artbox img{

  height: auto; 
  width: auto; 
  max-width: 80%; 
  max-height: auto;

}

h3{
  font-size: 1.5rem;
  font-weight: 1;
}



.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

#fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none;
}

#fullscreen-image {
  max-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullscreen-image img {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

#close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.art_main {
  padding: 0;
  margin: 0;
  max-width: 100%;
  margin-top: 5rem;
}
@media screen and (max-width: 1150px) {
.main__container{
  margin: 0rem;
  padding: 1rem;
}
.newhome{
  display: block;
}

.artnewhome{
  display: inline;
}
.newhome div{
  height: 40%;
  width: auto;
  z-index: 0;
}
.newhome img {
  width: 80vw;
}
.halfbox{
  display: block;
}
.halfw{
  display: flex;
  position: relative;
  width: 100%
}
.pcardtext > h4{
  font-size: 3rem;
}
.pcardtext > h3{
  font-size: 1rem;
}
.contact__bar{
  margin-top: 4rem;
  /* display: flex; */
  justify-content: center;
  width: 100%;
  list-style: none;
}

.contact__items{
  display: flex;
  justify-content: center;
  width: 100%;
}
.project__list{
  display: block;
}

.project{
  margin-bottom: 2rem;
}
.navbar{

  z-index: 10;
}
#endcontact{
  display: block;
}
.navbar__container {
    height: 80px;
    z-index: 1000;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    width: 30%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 20vh;
    z-index: -110;
    margin-left: 70%;

    
    
  }
  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1000;
    height: 0vh;
    font-size: 1.2rem;
    width: 30%;
    justify-self: right;
    margin-left: 70%;

  }
  .navbar__logo {
    padding-left: 25px;
    margin-left: 25PX;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: dodgerblue;
  }
  .navbar__item {
    background: white;
    width: 100%;
    justify-self:right;
    border: 2px solid dodgerblue;
    justify-content: center;
    align-items:center;
    
  }
  .navbar__links {
    text-align: center;
    width: 100%;
    display: table;
    color: grey;
    padding: 1.5rem;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }


  #jig{
/* margin-left: 25px; */

  }
  #mobile-menu.is-active .bar:nth-child(2) {
    transform: rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(225deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(135deg);
  }
  .home__container {
    margin-bottom: 1rem;

    width:80%;
    display: block;
    margin: 0rem;    margin-top: 5rem;
    justify-self: center;
    justify-items: space-between;

  }
  #Home {
    margin-top: 1%;
    width: 100%;
    justify-self: center;
  }

   
  #selfie {
    margin-top: 5rem;
    margin-left:1rem;
    display: block;
    display: none;
  }
  .main__container h1  {
    font-size: 3rem;
    margin: 0rem;
    margin-bottom: 1rem;
  }

.main__container h2 {
    font-size: 2rem;
    margin: 0rem;
    margin-bottom: 1rem;
  }
  .break{
    height: 1rem;
  }

  .main__content{
    width: 100%;
    margin: 0rem;
  }
  
  #about{
    max-width: 100%;
  }
  #coursework div p:hover{

    font-size: 2.1rem;
  }
  
  #coursework div p {
    font-size: 2rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }



  .arcadia__container{
   max-width: 100%;
  }

  #Home a{
    justify-items:auto;
  }
}/*# sourceMappingURL=styles.css.map */

.arcadia_container{
  max-width:850px;
  padding: 50px;
}

#artscolor{
  width: 50%;
  transition: filter 20s;
  filter:  hue-rotate(1360deg);
}

#artscolor:hover{
  filter:  hue-rotate(1360deg);
}


ol li {
  font-size: 1.25rem;
  font-weight: 100;
  
}